.App {
  text-align: center;
}

.pay {
  align-content: center;
  margin: 1% auto;
  padding: 2%;
  width: 30rem;
  border: 1px #F806CC solid;
  border-radius: 10px;
  
}
.desc {
  align-content: center;
  margin: 1% auto;
  padding: 2%;
  width: 50rem;
  border: 1px #F806CC solid;
  border-radius: 10px;
  
}
.logo {
  background-color: #54E346;
  padding: 10%;
  width: 15rem;
  margin: 1% auto;
  border-radius: 5px;
}
.logo h1 {
  color: white;
}
.addr{
  background-color: white;
  border-radius: 5px;
  overflow-x: hidden;
}
.addr a{
  text-decoration: none;
  color: black;
}
.home{
  margin: 1% auto;
  padding: 2%;
  border: 1px #F806CC solid;
  border-radius: 20px;
  
}
